<br><br><br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div [hidden]="submitted" style="width: 400px;" class="container">
  <h3>Create Quote</h3>
  <hr>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="quoteName">Quote Name</label>
      <input type="text" class="form-control" id="quoteName" required [(ngModel)]="quote.quoteName" name="quoteName">
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="quote.author" name="author">
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="quote.category" name="category">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newQuote()">Add</button> -->
</div>
